<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myauth">
	<select id="m_getUpload" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from fileupload where id=#{id} and fileuuid = #{fileuuid}
	</select>
	
	<select id="m_getLike" parameterType="java.lang.String" resultType="java.lang.String">
		select id from fileupload where fileuuid = #{fileuuid}
	</select>
	
	
	<select id="m_getFollow" parameterType="java.lang.String" resultType="java.lang.String">
		select id from memberfollower where followerid = #{followerid}
	</select>
</mapper>

