<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="files">
	<insert id="upLoad" parameterType="java.util.HashMap">
		insert into fileupload
		values(fileupload_seq.nextval, #{id }, #{comments}, sysdate, #{fileuuid}, #{name }, #{cate })
	</insert>
	<insert id="liker" parameterType="java.util.HashMap">
		insert into likepeople values(#{l_fileuuid}, #{l_selectliker }, 0)
	</insert>
	<select id="likercheck" parameterType="java.util.HashMap" resultType="java.lang.String">
		select * from likepeople where l_selectliker = #{l_selectliker } and l_fileuuid = #{l_fileuuid }
	</select>
	<select id="likerList" resultType="java.util.HashMap" parameterType="java.lang.String">
		<![CDATA[
	  		 select temp.* from
	      		(select * from FILEUPLOAD a, LIKEPEOPLE b where a.fileuuid = b.l_fileuuid) temp
	      			where fileuuid = #{fileuuid}
		]]>
	</select>
	<select id="rownum" resultType="java.util.HashMap">
      <![CDATA[select rownum, temp.*from( select * from likepeople order by l_likes desc)temp  
      where rownum<=3]]>
      </select> 
	<select id="setlike" resultType="java.util.HashMap" parameterType="java.lang.String">
		select l_selectliker, l_fileuuid from likepeople where l_fileuuid =#{l_fileuuid}
	</select>
	<select id="getFile" parameterType="java.lang.String" resultType="java.util.HashMap">
		select * from fileupload where fileuuid = #{fileuuid }
	</select>
	<select id="getAllFile" resultType="java.util.HashMap">
		select * from fileupload order by num desc
	</select>
	
	<select id="getCateView" parameterType="java.lang.String" resultType="java.util.HashMap">
		select * from fileupload where cate = #{select } order by num desc 
	</select>
	
	<select id="getAllChart" resultType="java.lang.Integer" parameterType="java.lang.String">
		select count(*) from fileupload where cate = #{cate}
	</select>
	
	<select id="getLikers" resultType="java.util.HashMap">
		select * from likepeople
	</select>
	<select id="getAllFile2" parameterType="java.lang.String" resultType="java.util.HashMap">
		select * from fileupload  where id = #{id } order by num desc
	</select>
	<update id="likeupdate" parameterType="java.util.HashMap">
		update likepeople set l_likes =
		l_likes +1 where l_selectliker=#{l_selectliker } and l_fileuuid=#{l_fileuuid }
	</update>
	<delete id="likeBye" parameterType="java.util.HashMap">
		delete from likepeople where l_fileuuid= #{l_fileuuid } and l_selectliker = #{l_selectliker}
	</delete>
	
	<select id="setProfile" resultType="java.lang.String" parameterType="java.lang.String">
		select profile from member where id= #{id}
	</select>
	
	<update id="updateProfile" parameterType="java.util.HashMap">
		update member set profile = #{fileuuid} where id =#{id }
	</update>
	
	<update id="fileupdate" parameterType="java.lang.String">
		update fileupload set count =
		count +1 where fileuuid=#{fileuuid }
	</update>
	<delete id="writeout"  parameterType="java.lang.String">
		delete from fileupload where fileuuid= #{fileuuid} 
	</delete>
</mapper>