<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product_info">
	<insert id="addProduct" parameterType="java.util.HashMap">
	insert into PRODUCT_INFO values(PRODUCT_INFO_SEQ.nextval, #{name }, #{price}, #{addid}, sysdate, #{fileuuid }, #{cate} )	
	</insert>
	<insert id="addCart" parameterType="java.util.HashMap">
		insert into mycart values(mycart_SEQ.nextval, #{id}, #{productinfo}, #{productname}, #{productprice}, #{productcate} )
	</insert>
	<select id="getProduct" parameterType="java.lang.String" resultType="java.util.HashMap">
		select * from product_info where fileuuid = #{fileuuid}
	</select>
</mapper>
