<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="review">
	<insert id="insert" parameterType="java.lang.String">
		insert into memo
		values(memo_seq.nextval, #{id},#{memo} , sysdate, #{fileuuid})
	</insert>
	<select id="getAll" resultType="java.util.HashMap" 
									parameterType="java.lang.String">
		<![CDATA[
   select temp.* from
      (select * from memo order by num desc) temp
      where fileuuid = #{fileuuid}
	]]>
	</select>
	<insert id="addComments" parameterType="java.util.HashMap">
		insert into comments_memo
		values(comments_memo_seq.nextval, #{id},#{comments} ,#{comments_flleuuid},  sysdate)
	</insert>
	<select id="getComments" resultType="java.util.HashMap">
		select * from comments_memo order by num desc
	</select>
	
</mapper>
